/*.container{
	border: 1px dotted blue;

}*/
.row{
	margin-top: 5px;
}
.form-vertical{
	width: 100%;
}
.oye_panel> .panel-heading{
	background-color: #FDE74C !important;
	border-color: #FDE74C !important;
}
.ok_panel> .panel-heading{
	background-color: #5BC0EB !important;
	border-color: #5BC0EB !important;
}

.oye_panel> .panel-body{
 background-color: rgba(253,231,76,0.15);
}

.ok_panel> .panel-body{
background-color: rgba(91,192,235,0.15);
}

.not_selected_tab{
    color: black;
    /*background-color: #FDE74C;
	border-color: #FDE74C ;*/
	border: 1px solid #5BC0EB;
}

.selected_tab{
	color: white;
    background-color: #5BC0EB;
	border-color: #5BC0EB;
}
/*
#oye_container_row{
	/*background-color: rgba(253,231,76,0.15);
	margin-left: 0px;
	margin-right: 0px;
} */
#ok_container_row, #oye_container_row{
	background-color: rgba(91,192,235,0.15);
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px 5px;
	margin-top: 0px;
}

.theoks{
	border: 1px solid #5BC0EB;
}