
header
{	

		background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/home.jpg);
		height: 100vh;
		background-position: center;
		background-size: cover;
		


}

.head
{
	text-align: center;

}


#brand
{
	font-size: 4em;
	color: #fff;
}

#msg
{
	font-size: 2.5em;
	color: #ffa500;
}

#int
{

position: absolute;
bottom: 0;
width: 100%;
text-align: center;

padding-bottom: 10px;	


}

#int h3
{
	color: #ffa500;	
}



#div1
{

	background-color:#fff6e5; 
	text-align:center;

	padding-bottom:35px;
	padding-top: 35PX;

}

 h3
{
	font-size: 30px;
}

#div1 p
{
	font-size: 20px;
}

#div1h
{

	color: #ffa500;
	font-size: 25px;
}

#div1 span
{
	font-weight: 900;
	text-decoration: underline;
}


#div2
{

	background-color:#fff6e5; 
	text-align:center;

}

#div3
{

	background-color:#fff6e5; 
	text-align:center;

}

#div4
{

	background-color:#fff6e5; 
	text-align:center;

}


#div5
{

	 background-color:#fff6e5;
	 text-align:center; 
	

}

#div5  input 
{

		margin: 10px;	

}


#div6
{

	 
	text-align: center;
	padding: 45px;

}

#div7
{

	text-align: center;
	 background-color:#fff6e5; 
	 padding:45px;
	

}


#heading
{

	font-size: 40px;
	font-weight: 600;
}

#heading2
{
	font-size: 25px;
	color: #ffa500;
}


#div5 i
{
	padding-right: 10px;
}

#div8,#blogscon2 
{
	text-align: center;
	padding: 30px;
}


#div8 img,#blogscon2 img
{
	height: 90px;
	width: 90px;

	padding: 10px;
}

#div9
{
	text-align: center;
	background-color:#fff6e5;
}

#div9 img
{
	text-align: center;
	height: 100px;
	width: 100px;
	vertical-align: middle;

	padding: 10px;	
}

#con1{

	padding: 20px;
}

#con1 p
{
	font-size: 20px;
	font-weight: 600;
}

#con1 button
{

		margin: 20px;

}

#con2
{
	text-align: center;
	 background-color: #fff6e5;
	  padding:20px;
}


#con3
{
	padding: 20px;
}


#con3  button
{
	margin: 20px;

}

#con3 p
{
	font-size: 20px;
	font-weight: 600;
}

#tenantcon1,#tenantcon2,#tenantcon3,#tenantcon4,#brokercon1,
#brokercon2,#brokercon3,#brokercon4,#brokercon5,#brokercon6,#brokercon7,#blogscon1,#blogscon2,#blog1con1,#div9,#div10
{
	padding: 20px;
}


#tenantcon2 button,#tenantcon3 button,#tenantcon4 button,#brokercon1 button,#brokercon2 button,
#brokercon3 button,#brokercon4 button,#brokercon5 button,#brokercon6 button,#owncon2 button
{
		margin: 20px;
		padding: 20px;
}

#tenantcon4
{
	text-align: center;
	background-color:#fff6e5;

}


#brokercon1,#brokercon3,#brokercon5,#brokercon7,#blogscon2
{
	background-color: #fff6e5;
}

#brokercon1,#brokercon2,#brokercon3,#brokercon4,#brokercon5,#brokercon6,#brokercon7,
#blogscon1,#div10

{
	text-align: center;
}

#brokercon4 i
{
	padding: 10px;
	color: #ffa500;
}

#div10 img
{
	width: 100px;
	height: 100px;
	margin: 10px;
}

@media (min-width: 576px){
			
			#div10 .col-sm-6 {
		     max-width: 20%;
			}			
		}



		@media (max-width: 480px){
			
			#div10 .col-sm-6 {
		     max-width: 50%;
			}			
		}


		#navbarNavDropdown ul li a
		{
			padding-left: 15px;
			padding-right: 15px;
			font-size: 20px;
			font-weight: 400;
		}

		#navbarNavDropdown ul li a:hover
		{
			background-color: #f0ad4e;
		}

		button,a
		{
			text-decoration: none;
			color: #000;
		}
		button,a:hover
		{
			text-decoration: none;
			color: #000;
		}